.Nav{
    background-color: #886B5B;
}

.Link{
    color: #FFFFFF !important;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;
}

/* .Link:hover{
    color: #dadada !important;
} */


.active{
    color: #F2BC79 !important;
}

.Logo{
    height: 4.5rem;
    width: 4.5rem;
}